.container {
  width: 80%;
  margin: 0 auto;
}
.carousel-inner {
  width: 80%;
  margin: 0 auto;
}
.carousel-caption {
  margin-left: 10px;
}
.carousel-inner img {
  width: 100%;
  margin-left: 60px;
}
