* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  overflow-x: hidden;
}

body,
html {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

/*-------------*/
.modal-body {
  width: 80%;
  margin: 4% auto;
  padding: 4% 2%;
}
.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-delete:hover {
  background-color: #4d8a54;
  opacity: 85%;
}

.cart-quantity-input {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid #4d8a54;

  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #eb5757;
  font-size: 1.5em;
}

.btn-tt {
  margin: 10px;
  height: 60px;
  line-height: 39px;
  padding: 0 20px;
  text-align: center;
  white-space: nowrap;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: #4d8a54;
}
.btn-tt:hover {
  border: 1px #4d8a54 solid;
  background-color: #fff;
  color: #4d8a54;
  transition: all 0.25s linear;
}

.btn-undo {
  margin: 10px;
  height: 60px;
  line-height: 39px;
  padding: 0 20px;
  text-align: center;
  white-space: nowrap;
  border: none;
  border-radius: 30px;
  color: #4d8a54;
  border: 1px #4d8a54 solid;
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
}
.btn-undo:hover {
  background-color: #4d8a54;
  color: #fff;
  transition: all 0.25s linear;
}
/* -----------------------------nav----------------------------- */
/* ---------------------------------Nav -------------------------------------- */
.header1 {
  background-color: #4d8a54;
  font-size: 17px;
  padding: 1px;
  width: 100%;
  position: fixed;
}

.header {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
  color: white;
  width: 100%;
  margin-bottom: 0;
  height: 80px;
  text-align: center;
  align-items: center;
}

.header li {
  padding-left: 50px;
}
.header li a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
.header li a:hover {
  color: #333;
}
.head1 {
  display: flex;
}

/* footer */
/*FOOTER*/

.footer-bg {
  background-image: url(../images/tea-herb-with-orchid-flower-bamboo-black-surface.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10%;
}

.layer {
  background-color: rgba(17, 19, 17, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer-left {
  width: 400px;
}

.footer-mid {
  width: 400px;

  margin-top: 128px;
}

.footer-right {
  width: 400px;

  margin-top: 128px;
}

.all-footer {
  margin-top: -100px;
}

#footer-content-left {
  color: white;
  position: absolute;
  width: 350px;
  margin-top: -30px;
  font-size: 17px;
  text-align: justify;
  font-weight: bolder;
  line-height: 1.5;
}

.footer-content-mid {
  color: white;
  position: absolute;
  width: 300px;
  font-weight: bolder;
  font-size: 17px;
  text-align: justify;
  line-height: 1.5;
}

.footer-content-right {
  color: white;
  position: absolute;
  width: 350px;
  font-weight: bolder;
  font-size: 17px;
  text-align: justify;
  line-height: 1.5;
}

.footer-mid h2 {
  color: #4d8a54;
  position: relative;
  font-weight: bold;
}

.footer-right h2 {
  color: #4d8a54;
  position: relative;
  font-weight: bold;
}

#logo-footer {
  width: 270px;
  margin-top: -50px;
  margin-left: -50px;
  position: relative;
}

.all-footer {
  display: flex;
  margin-left: 30px;
}

.icon {
  margin-top: 130px;
  margin-left: -30px;
}

.icon i {
  padding-left: 30px;
  color: #4d8a54;
  position: relative;
}

.footer-mid i {
  color: #4d8a54;
  position: relative;
  font-size: 20px;
}

.footer-mid p {
  margin-left: 30px;
  margin-top: -27px;
}

.footer-right p {
  margin-top: -6px;
}

.footer-right input {
  position: absolute;
  margin-top: -10px;
  width: 310px;
  height: 20px;
  border-radius: 40px;
  padding: 20px;
  border: none;
  font-size: 17px;
  font-weight: bold;
}

.footer-right button {
  height: 60px;
  line-height: 39px;
  width: 150px;
  padding: 0 20px;
  text-align: center;
  white-space: nowrap;
  border: none;
  border-radius: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: #4d8a54;
  margin-left: 200px;
  margin-top: -10px;
  position: relative;
}

.footer-right button:hover {
  background-color: rgb(203, 203, 203);
  color: #376a3d;
  transition: all 0.25s linear;
}

@media screen and (max-width: 600px) {
  .head1 {
    display: none;
  }

  .header li {
    padding-left: 0;
  }
  body,
  html {
    font-family: "Quicksand", sans-serif;
    font-size: 10px !important;
  }
  .modal-body {
    margin-top: 50px;
  }
  .btn-delete {
    font-size: 10px;
    padding: 15px;
    border: none;
    background-color: #fff;
  }
  .modal-body h1 {
    margin: 25px !important;
  }
}
@media screen and (max-width: 992px) {
  .modal-body h1 {
    margin: 25px !important;
  }
}
